@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --first:#aa13c5fc;
  --white-text: rgba(255,255,255,.75);
  --main: #e81c2e;
  --tick:green;
  --blue:#287bff;
  --purple:rgb(102, 34, 102);
  --main-color: rgb(11, 11, 20);
  --main-second: rgb(11, 11, 20);
  --primary-color:rgb(12, 12, 52);
  --blue-new:#194fa5;
  --main-darker: #ca0010;
  --main-lighter: rgba(232,28,46,.5);
  --second: #CCB686;
  --red: #e81c2e;
  --geen: #e81c2e;
  --font-main: 'Ubuntu';
  --font-headers: 'Barlow Semi Condensed';
  --font-subheaders: 'Barlow Semi Condensed';
  --black: #19191B;
  --black-darker: #000000;
  --black-text: rgba(25,25,27,1);
  --black-light: rgba(25,25,27,.7);
  --gray: #F2F2F2;
  --gray-lighter: rgba(242,242,242,.5);
  --white: #FFFFFF;
  --box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  /* radius */
  --input-radius: 8px;
  --border-radius: 8px;
  /* Font Sizes */
  --heading-1: 2.8rem;
  --heading-2: 2.4rem;
  --heading-3: 1.8rem;
  --body-text: 1.4rem;
  --link-text: 1.4rem;
  --input-text: 1.6rem;
  --small-text: 1.4rem;
  /* Shadows */
  --shadow-1: 0px 1px 3px 0px rgba(47, 50, 125, 0.1),
      0px 1px 2px 0 rgba(47, 50, 125, 0.06);
  --shadow-2: 0px 4px 6px -1px rgba(47, 50, 125, 0.1),
      0px 2px 4px -1px rgba(47, 50, 125, 0.06);
  --shadow-3: 0px 12px 27px -3px rgba(47, 50, 125, 0.1),
      0px 4px 6px -2px rgba(4, 20, 22, 0.06);
  /* Radius */
  --card-radius: 12px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media screen and (max-width: 476px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--black);
  box-sizing: border-box; }

a {
  font-weight: 400;
  text-decoration: none;
  color: inherit; }

p {
  font-size: 1.6rem; }

ul,
ol {
  list-style: none; }

footer.footer {
  margin-top: 15rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%; }
  footer.footer .circle {
    width: 10rem;
    height: 10rem;
    background: linear-gradient(to bottom, orangered, black);
    position: absolute;
    top: -8.5rem;
    left: 30%;
    border-radius: 50%; }
    @media screen and (max-width: 891px) {
      footer.footer .circle {
        left: 20%;
        top: -8rem; } }
    @media screen and (max-width: 536px) {
      footer.footer .circle {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      footer.footer .circle {
        display: none; } }
  footer.footer .footer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10; }
    footer.footer .footer_wrapper > ul.socials {
      display: flex;
      justify-content: stretch;
      align-items: center; }
      footer.footer .footer_wrapper > ul.socials li > * {
        font-size: 2.5rem;
        color: grey;
        transition: all .5s; }
      footer.footer .footer_wrapper > ul.socials li:hover > *,
      footer.footer .footer_wrapper > ul.socials li.hovered > * {
        color: var(--white);
        cursor: pointer; }
      footer.footer .footer_wrapper > ul.socials li:not(:last-child) {
        margin-right: 2rem; }
    footer.footer .footer_wrapper > ul.terms_privacy {
      margin-top: .8rem;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer.footer .footer_wrapper > ul.terms_privacy li {
        font-size: 1.4rem;
        color: grey; }
        footer.footer .footer_wrapper > ul.terms_privacy li:first-child {
          margin-right: 4rem; }
    footer.footer .footer_wrapper > p.copyright {
      font-size: 1.4rem;
      color: grey; }

.homepage {
  width: 100%; }
  .homepage .toggle_left {
    position: relative; }
    .homepage .toggle_left .events {
      margin-top: 4rem;
      position: relative; }
      .homepage .toggle_left .events span.circle_design {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        overflow: hidden; }
        .homepage .toggle_left .events span.circle_design:first-of-type {
          position: absolute;
          left: 20%;
          background: linear-gradient(180deg, var(--first), var(--primary-color)); }
        .homepage .toggle_left .events span.circle_design:last-of-type {
          background: linear-gradient(180deg, var(--blue-new), var(--primary-color));
          position: absolute;
          right: 20%;
          top: 40%;
          width: 6rem;
          height: 6rem;
          overflow: hidden; }
      .homepage .toggle_left .events .events_wrapper {
        max-width: 60rem;
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: stretch;
        align-items: center;
        flex-direction: column; }
        .homepage .toggle_left .events .events_wrapper > h1 {
          font-size: 4rem;
          text-transform: uppercase;
          color: var(--white);
          text-align: center;
          line-height: 1.4;
          transition: all .5s;
          margin-bottom: 2.5rem; }
          @media screen and (max-width: 891px) {
            .homepage .toggle_left .events .events_wrapper > h1 {
              font-size: 3rem; } }
        .homepage .toggle_left .events .events_wrapper > p {
          color: var(--white);
          text-align: center;
          font-size: 1.5rem;
          margin-bottom: 2rem; }
        .homepage .toggle_left .events .events_wrapper .countdown {
          margin-bottom: 1rem; }
          .homepage .toggle_left .events .events_wrapper .countdown > ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem; }
            .homepage .toggle_left .events .events_wrapper .countdown > ul li {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              background: var(--white);
              padding: 1.8rem 1.4rem;
              border-radius: .5rem; }
              .homepage .toggle_left .events .events_wrapper .countdown > ul li > p {
                font-size: 1.8rem;
                font-weight: bold;
                color: var(--black-darker); }
              .homepage .toggle_left .events .events_wrapper .countdown > ul li > span {
                font-size: 1rem; }
        .homepage .toggle_left .events .events_wrapper .input_wrapper {
          margin-bottom: 2rem;
          display: flex;
          justify-content: stretch;
          align-items: center; }
          @media screen and (max-width: 428px) {
            .homepage .toggle_left .events .events_wrapper .input_wrapper {
              flex-direction: column;
              width: 100%; } }
          .homepage .toggle_left .events .events_wrapper .input_wrapper input {
            border: none;
            height: 4rem;
            background: transparent;
            padding: 1rem;
            color: var(--white);
            border-bottom: 1px solid purple; }
            @media screen and (max-width: 428px) {
              .homepage .toggle_left .events .events_wrapper .input_wrapper input {
                flex: 1;
                max-width: 40rem;
                width: 100%;
                margin-bottom: 2rem; } }
            .homepage .toggle_left .events .events_wrapper .input_wrapper input:focus {
              outline: none; }
            .homepage .toggle_left .events .events_wrapper .input_wrapper input:first-child {
              margin-right: 3rem; }
              @media screen and (max-width: 428px) {
                .homepage .toggle_left .events .events_wrapper .input_wrapper input:first-child {
                  margin-right: 0rem;
                  margin-top: 2rem; } }
        .homepage .toggle_left .events .events_wrapper .subscribe {
          max-width: 40rem;
          width: 100%;
          height: 4.5rem;
          background: var(--white);
          border-radius: 3rem;
          display: flex;
          justify-content: stretch;
          align-items: stretch; }
          .homepage .toggle_left .events .events_wrapper .subscribe input[type=search] {
            flex: 1;
            background: transparent;
            border: none;
            outline: none;
            padding: 1rem 1rem 1rem 1.8rem; }
          .homepage .toggle_left .events .events_wrapper .subscribe label {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--blue);
            color: var(--white);
            height: 100%;
            padding: 1rem 1.5rem;
            border-radius: 3rem;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold; }
    .homepage .toggle_left.rigid {
      position: relative; }
      .homepage .toggle_left.rigid::after {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        z-index: 11; }

header {
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  @media screen and (max-width: 860px) {
    header {
      padding: 2rem 4rem; } }
  @media screen and (max-width: 604px) {
    header {
      padding: 2rem; } }
  header .logo {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column; }
    header .logo .icon {
      font-size: 3rem;
      color: var(--iconColor); }
    header .logo p {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: var(--paraColor); }
  header nav ul.navigation {
    display: flex;
    justify-content: stretch;
    align-items: center; }
    header nav ul.navigation li {
      padding: 1rem 2rem;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: var(--col);
      cursor: pointer; }
      header nav ul.navigation li:last-child {
        background: var(--bg);
        border-radius: 2rem; }
      header nav ul.navigation li:not(:last-child) {
        margin-right: 2rem; }
        @media screen and (max-width: 604px) {
          header nav ul.navigation li:not(:last-child) {
            margin-right: 1rem; } }

.blog {
  width: 100%; }
  .blog .top_header {
    width: 100%;
    height: 25rem;
    position: relative;
    background: linear-gradient(to right, var(--main-color), var(--main-second)); }
    .blog .top_header::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(10px); }
      @media screen and (max-width: 788px) {
        .blog .top_header::after {
          width: 40%; } }
    .blog .top_header > .wrapper {
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translateY(-50%);
      z-index: 2;
      color: var(--white); }
      @media screen and (max-width: 788px) {
        .blog .top_header > .wrapper {
          left: 35%; } }
      .blog .top_header > .wrapper h1 {
        font-size: 1.4rem;
        text-transform: uppercase;
        position: relative; }
        .blog .top_header > .wrapper h1::after {
          content: '';
          position: absolute;
          width: 4rem;
          height: .1rem;
          background: var(--white);
          left: -5rem;
          top: 50%;
          transform: translateY(-50%); }
      .blog .top_header > .wrapper > h2 {
        font-weight: 200;
        font-size: 3rem;
        margin-top: 1rem; }
  .blog .latest_wrapper {
    margin-top: 3.5rem;
    padding: 0 10rem; }
    @media screen and (max-width: 922px) {
      .blog .latest_wrapper {
        padding: 0 3rem; } }
    .blog .latest_wrapper h1.latest {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2.5rem;
      margin-bottom: 1rem; }
      @media screen and (max-width: 754px) {
        .blog .latest_wrapper h1.latest {
          text-align: center; } }
    .blog .latest_wrapper > .lorem_input {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      @media screen and (max-width: 754px) {
        .blog .latest_wrapper > .lorem_input {
          flex-direction: column; } }
      .blog .latest_wrapper > .lorem_input p {
        flex: 60%;
        margin-right: 10rem;
        text-align: justify; }
        @media screen and (max-width: 754px) {
          .blog .latest_wrapper > .lorem_input p {
            margin-right: 0rem;
            max-width: 50rem;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 1rem;
            flex: 1; } }
      .blog .latest_wrapper > .lorem_input .input_field {
        flex: 40%;
        border: 1px solid #000;
        border-radius: 3rem;
        overflow: hidden;
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: 0 2rem;
        height: 4.5rem; }
        @media screen and (max-width: 754px) {
          .blog .latest_wrapper > .lorem_input .input_field {
            flex: 1;
            max-width: 50rem;
            width: 100%;
            margin: 0 auto; } }
        .blog .latest_wrapper > .lorem_input .input_field input {
          width: 100%;
          height: 100%;
          flex: 1;
          align-self: stretch;
          position: relative;
          border: none;
          outline: none;
          background: transparent; }
          .blog .latest_wrapper > .lorem_input .input_field input:focus {
            border: none; }
        .blog .latest_wrapper > .lorem_input .input_field .search {
          font-size: 2rem; }
  .blog .cardBox {
    max-width: 110rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    padding: 0 2rem; }
    .blog .cardBox > .card {
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
      padding: 1.5rem; }
      .blog .cardBox > .card .top {
        width: 100%;
        height: 20rem; }
        .blog .cardBox > .card .top img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .blog .cardBox > .card .bottom p {
        font-size: 1rem;
        color: grey;
        margin: 1.5rem 0;
        text-transform: uppercase; }
      .blog .cardBox > .card .bottom h2,
      .blog .cardBox > .card .bottom h3 {
        font-size: 1.7rem;
        line-height: 1;
        margin-bottom: 1rem; }
      .blog .cardBox > .card .bottom > p.text {
        font-size: 1.2rem;
        text-transform: inherit;
        line-height: 1.8; }
      .blog .cardBox > .card .bottom .readmore {
        display: flex;
        justify-content: stretch;
        align-items: center; }
        .blog .cardBox > .card .bottom .readmore span {
          display: inline-block;
          width: 4rem;
          height: .1rem;
          background: purple;
          margin-right: 1rem; }
        .blog .cardBox > .card .bottom .readmore p {
          font-size: 1.2rem;
          color: purple; }
  .blog section.recent {
    max-width: 110rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem; }
    .blog section.recent h2 {
      font-size: 3.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
      padding: 0 2rem; }
      @media screen and (max-width: 614px) {
        .blog section.recent h2 {
          text-align: center; } }
    .blog section.recent p {
      max-width: 50rem;
      width: 100%;
      font-size: 1.5rem;
      margin-bottom: 4rem;
      padding: 0 2rem; }
      @media screen and (max-width: 614px) {
        .blog section.recent p {
          max-width: 55rem;
          margin: 0 auto;
          margin-bottom: 4rem; } }
    .blog section.recent .button_centered {
      display: flex;
      justify-content: center;
      align-items: stretch;
      width: 100%;
      margin: 5rem 0; }
    .blog section.recent button.load {
      padding: 1rem 4.5rem;
      border-radius: 3rem;
      background: purple;
      color: var(--white);
      border: none;
      margin: 0 auto; }
  .blog .bottom_design {
    width: 100%;
    padding: 5rem 10rem;
    position: relative;
    background: linear-gradient(to right, var(--main-color), var(--main-second));
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 994px) {
      .blog .bottom_design {
        padding: 5rem; } }
    @media screen and (max-width: 394px) {
      .blog .bottom_design {
        padding: 5rem 2rem; } }
    .blog .bottom_design .right {
      max-width: 40rem;
      width: 100%;
      height: 20rem;
      background: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(10px);
      padding-right: 2rem;
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      @media screen and (max-width: 788px) {
        .blog .bottom_design .right {
          max-width: 30rem; } }
      @media screen and (max-width: 658px) {
        .blog .bottom_design .right {
          display: none; } }
      .blog .bottom_design .right .box {
        height: 40%;
        width: 15rem;
        background: orangered;
        position: relative;
        filter: blur(10px); }
    .blog .bottom_design .left {
      color: var(--white);
      width: 100%; }
      @media screen and (max-width: 658px) {
        .blog .bottom_design .left {
          display: flex;
          justify-content: stretch;
          align-items: center;
          flex-direction: column; } }
      @media screen and (max-width: 658px) {
        .blog .bottom_design .left > h2 {
          text-align: center; } }
      .blog .bottom_design .left > p {
        color: grey;
        margin-top: .5rem;
        margin-bottom: 1rem;
        font-size: 1.4rem; }
      .blog .bottom_design .left .indicator_contact {
        display: flex;
        justify-content: stretch;
        align-items: center;
        color: purple; }
        .blog .bottom_design .left .indicator_contact .forward {
          margin-left: 1rem; }

.aboutPage {
  width: 100%; }
  .aboutPage .about_top {
    padding-right: 4rem;
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: flex-end; }
    .aboutPage .about_top .circle_design {
      position: absolute;
      right: -10px;
      width: 9rem;
      top: 40%;
      height: 9rem;
      border-radius: 50%;
      background: linear-gradient(180deg, var(--blue-new), var(--primary-color)); }
    @media screen and (max-width: 749px) {
      .aboutPage .about_top {
        padding-right: 2rem; } }
    @media screen and (max-width: 523px) {
      .aboutPage .about_top {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-direction: column;
        width: 100%;
        padding: 4rem;
        display: block; } }
    .aboutPage .about_top .left {
      flex: 60%;
      height: 50rem;
      margin-right: 6rem;
      position: relative; }
      @media screen and (max-width: 749px) {
        .aboutPage .about_top .left {
          margin-right: 4rem; } }
      @media screen and (max-width: 523px) {
        .aboutPage .about_top .left {
          flex: 1;
          width: 100%;
          height: 30rem;
          margin-right: 0;
          display: flex;
          align-items: center;
          justify-content: center; } }
      .aboutPage .about_top .left::after {
        content: '';
        height: 70%;
        width: 25rem;
        background: purple;
        position: absolute;
        right: 8rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        opacity: .5; }
      .aboutPage .about_top .left::before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      .aboutPage .about_top .left .wrap {
        position: absolute;
        z-index: 3;
        top: 50%;
        max-width: 39rem;
        width: 100%;
        right: 0;
        transform: translateY(-50%) translateX(20rem); }
        @media screen and (max-width: 749px) {
          .aboutPage .about_top .left .wrap {
            max-width: max-content;
            min-width: 39rem;
            top: 40%; } }
        @media screen and (max-width: 523px) {
          .aboutPage .about_top .left .wrap {
            right: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(50%) translateY(-50%);
            width: 100%;
            min-width: 100%;
            max-width: 100%; } }
        .aboutPage .about_top .left .wrap .title {
          display: flex;
          justify-content: stretch;
          align-items: center; }
          .aboutPage .about_top .left .wrap .title span {
            display: inline-block;
            width: 3rem;
            background-color: var(--white);
            height: .1rem;
            margin-right: 1rem; }
          .aboutPage .about_top .left .wrap .title p {
            color: var(--white);
            font-size: 1.3rem;
            font-weight: 100;
            text-transform: uppercase; }
        .aboutPage .about_top .left .wrap > h1 {
          padding-left: 8rem;
          color: var(--white);
          font-size: 4rem;
          font-weight: 400; }
          @media screen and (max-width: 749px) {
            .aboutPage .about_top .left .wrap > h1 {
              padding-left: 4rem; } }
    .aboutPage .about_top .right {
      flex: 40%;
      color: var(--white);
      position: relative; }
      @media screen and (max-width: 523px) {
        .aboutPage .about_top .right {
          margin-top: 2rem; } }
  .aboutPage section.maverick {
    margin-top: 10rem; }
    .aboutPage section.maverick > h1 {
      max-width: 100rem;
      width: 100%;
      margin: 0 auto;
      font-size: 4.5rem;
      color: var(--white);
      font-weight: 400;
      margin-bottom: 10rem; }
      @media screen and (max-width: 1124px) {
        .aboutPage section.maverick > h1 {
          padding: 0 5rem;
          text-align: center;
          font-size: 3.8rem; } }
      @media screen and (max-width: 732px) {
        .aboutPage section.maverick > h1 {
          font-size: 3rem;
          line-height: 1.6; } }
      @media screen and (max-width: 591px) {
        .aboutPage section.maverick > h1 {
          padding: 0 2rem; } }
    .aboutPage section.maverick .maverick_bottom {
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      color: var(--white); }
      @media screen and (max-width: 655px) {
        .aboutPage section.maverick .maverick_bottom {
          flex-direction: column;
          margin: 0 3rem; } }
      .aboutPage section.maverick .maverick_bottom .left,
      .aboutPage section.maverick .maverick_bottom .right {
        flex: 50%; }
      .aboutPage section.maverick .maverick_bottom .left {
        padding-left: 10rem; }
        @media screen and (max-width: 842px) {
          .aboutPage section.maverick .maverick_bottom .left {
            padding-left: 4rem; } }
        @media screen and (max-width: 655px) {
          .aboutPage section.maverick .maverick_bottom .left {
            padding-left: 0rem;
            margin-bottom: 2rem; } }
        .aboutPage section.maverick .maverick_bottom .left > .dot_wrapper .first {
          display: grid;
          grid-template-columns: repeat(13, 1fr);
          gap: 0.01rem;
          box-sizing: border-box; }
        .aboutPage section.maverick .maverick_bottom .left > .dot_wrapper span {
          display: inline-block;
          width: .4rem;
          height: .4rem;
          margin: 0;
          background: var(--white);
          border-radius: 50%; }
        .aboutPage section.maverick .maverick_bottom .left h1 {
          display: flex;
          justify-content: stretch;
          align-items: center;
          font-size: 1.6rem; }
          .aboutPage section.maverick .maverick_bottom .left h1 > span {
            width: 4rem;
            height: .1rem;
            background: var(--white);
            display: inline-block;
            position: relative;
            margin-right: 1rem; }
            .aboutPage section.maverick .maverick_bottom .left h1 > span::after {
              content: '01';
              top: -1.8rem;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              color: var(--white);
              font-size: 1rem; }
      .aboutPage section.maverick .maverick_bottom .right {
        width: 100%;
        position: relative;
        margin-left: 10rem;
        padding: 5rem; }
        @media screen and (max-width: 842px) {
          .aboutPage section.maverick .maverick_bottom .right {
            margin-left: 4rem; } }
        @media screen and (max-width: 655px) {
          .aboutPage section.maverick .maverick_bottom .right {
            margin-left: 0rem; } }
        .aboutPage section.maverick .maverick_bottom .right::before {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.15);
          backdrop-filter: blur(10px);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2; }
        .aboutPage section.maverick .maverick_bottom .right::after {
          content: '';
          height: 70%;
          width: 25rem;
          background: skyblue;
          position: absolute;
          left: 8rem;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          opacity: .5; }
        .aboutPage section.maverick .maverick_bottom .right > h1 {
          display: flex;
          justify-content: stretch;
          align-items: center;
          font-size: 1.6rem;
          position: relative;
          z-index: 4;
          margin-bottom: 2rem; }
          .aboutPage section.maverick .maverick_bottom .right > h1 > span {
            width: 4rem;
            height: .1rem;
            background: var(--white);
            display: inline-block;
            position: relative;
            margin-right: 1rem; }
            .aboutPage section.maverick .maverick_bottom .right > h1 > span::after {
              content: '02';
              top: -1.8rem;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              color: var(--white);
              font-size: 1rem; }
        .aboutPage section.maverick .maverick_bottom .right > p.text {
          font-size: 1.4rem;
          color: var(--white);
          line-height: 2.2;
          position: relative;
          z-index: 4; }
          .aboutPage section.maverick .maverick_bottom .right > p.text:first-of-type {
            margin-bottom: 2rem; }
  .aboutPage .bottom_question {
    padding: 8rem 10rem;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    color: var(--white);
    margin-top: 8rem;
    background-color: rgba(255, 255, 255, 0.15); }
    .aboutPage .bottom_question .right {
      flex: 30%;
      height: 15rem;
      background: orangered;
      filter: blur(1rem); }
      @media screen and (max-width: 833px) {
        .aboutPage .bottom_question .right {
          display: none; } }
    .aboutPage .bottom_question .left {
      flex: 70%;
      margin-right: 20rem; }
      @media screen and (max-width: 833px) {
        .aboutPage .bottom_question .left {
          flex: 100%;
          margin-right: 0rem; } }
      .aboutPage .bottom_question .left > h2 {
        font-size: 4rem;
        font-weight: 200;
        margin-bottom: 1rem; }
        @media screen and (max-width: 833px) {
          .aboutPage .bottom_question .left > h2 {
            text-align: center; } }
      .aboutPage .bottom_question .left > p {
        line-height: 2.5rem;
        margin-bottom: 1rem; }
        @media screen and (max-width: 833px) {
          .aboutPage .bottom_question .left > p {
            text-align: center;
            margin-bottom: 1.5rem; } }
      .aboutPage .bottom_question .left .indicator_contact {
        color: purple;
        display: flex;
        justify-content: stretch;
        align-items: center; }
        @media screen and (max-width: 833px) {
          .aboutPage .bottom_question .left .indicator_contact {
            display: flex;
            justify-content: center;
            align-items: center; } }
        .aboutPage .bottom_question .left .indicator_contact .forward {
          margin-left: .7rem;
          color: purple; }

.main_layout {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, var(--main-second) 10%, var(--primary-color)); }
  .main_layout.after::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    clip-path: ellipse(41% 24% at 49% 100%);
    clip-path: circle(50% at bottom);
    transform: translateY(53rem); }
    @media screen and (max-width: 1905px) {
      .main_layout.after::after {
        transform: translateY(50rem); } }
    @media screen and (max-width: 1803px) {
      .main_layout.after::after {
        transform: translateY(45rem); } }
    @media screen and (max-width: 1662px) {
      .main_layout.after::after {
        transform: translateY(40rem); } }
    @media screen and (max-width: 1472px) {
      .main_layout.after::after {
        transform: translateY(37rem); } }
    @media screen and (max-width: 1344px) {
      .main_layout.after::after {
        transform: translateY(33rem); } }
    @media screen and (max-width: 1186px) {
      .main_layout.after::after {
        transform: translateY(30rem); } }
    @media screen and (max-width: 1061px) {
      .main_layout.after::after {
        transform: translateY(25rem); } }
    @media screen and (max-width: 891px) {
      .main_layout.after::after {
        transform: translateY(22rem); } }
    @media screen and (max-width: 769px) {
      .main_layout.after::after {
        transform: translateY(18rem); } }
    @media screen and (max-width: 536px) {
      .main_layout.after::after {
        transform: translateY(15rem); } }
    @media screen and (max-width: 480px) {
      .main_layout.after::after {
        display: none; } }
  .main_layout main.act::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.15); }
  .main_layout .toggle_right {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 11;
    background: linear-gradient(to top, var(--main-second) 10%, #0c0c34); }
    @media screen and (max-width: 943px) {
      .main_layout .toggle_right {
        left: 40%; } }
    @media screen and (max-width: 555px) {
      .main_layout .toggle_right {
        left: 0%; } }
    .main_layout .toggle_right > .wrapper {
      max-width: 50%;
      width: 100%;
      padding: 10rem 6rem 10rem 4rem;
      display: flex;
      justify-content: stretch;
      align-items: center;
      flex-direction: column; }
      @media screen and (max-width: 943px) {
        .main_layout .toggle_right > .wrapper {
          max-width: 60%; } }
      @media screen and (max-width: 555px) {
        .main_layout .toggle_right > .wrapper {
          max-width: 100%; } }
      @media screen and (max-width: 785px) {
        .main_layout .toggle_right > .wrapper {
          padding: 10rem 2rem 10rem 2rem; } }
      .main_layout .toggle_right > .wrapper > h1 {
        padding: 0 2rem; }
        @media screen and (max-width: 2032px) {
          .main_layout .toggle_right > .wrapper > h1 {
            max-width: 80rem;
            width: 100%; } }
        @media screen and (max-width: 943px) {
          .main_layout .toggle_right > .wrapper > h1 {
            line-height: 1.4;
            font-size: 3rem; } }
      .main_layout .toggle_right > .wrapper form {
        margin-top: 2rem;
        align-self: stretch; }
        .main_layout .toggle_right > .wrapper form .input {
          display: flex;
          justify-content: stretch;
          align-items: stretch;
          flex-direction: column;
          margin-bottom: 1.5rem;
          width: 100%; }
          .main_layout .toggle_right > .wrapper form .input label {
            margin-bottom: 1rem;
            font-size: 1.4rem;
            font-weight: 200; }
          .main_layout .toggle_right > .wrapper form .input input {
            height: 5.2rem;
            width: 100%;
            padding: 1rem 2rem;
            border-radius: 1rem;
            border: none;
            outline: none; }
          .main_layout .toggle_right > .wrapper form .input textarea {
            padding: 1rem 2rem; }
        .main_layout .toggle_right > .wrapper form button {
          border: none;
          padding: 1.5rem 3rem;
          background: var(--blue);
          color: var(--white);
          border-radius: 3rem;
          margin-top: 2rem;
          font-size: 1.6rem; }
  .main_layout .handler {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    z-index: 12; }
    @media screen and (max-width: 943px) {
      .main_layout .handler {
        left: 40%; } }
    @media screen and (max-width: 555px) {
      .main_layout .handler {
        top: 1rem;
        left: 50%; } }
    .main_layout .handler > * {
      font-size: 2rem; }
